@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  background-color: #f6fedb;
  font-family: "Spartan", sans-serif;
  width: 99vw;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #f6fedb;
}
.page {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: #f6fedb;
  font-family: "Spartan", sans-serif;
  width: 99vw;
}

.yrglset {
  color: #f46036;
  padding-top: 0.2em;
  padding-bottom: 0;
}
header h1 {
  padding: 0.2em;
}

.goal {
  width: 40%;
  text-align: center;
}
.reason {
  width: 40%;
  text-align: center;
}
.thingsIWannaDo {
  width: 40%;
  text-align: center;
}
.butWhy {
  width: 40%;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #fcfc62;
}
.goalsList {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 70%;
  overflow: auto;
}

.goalListItem1 {
  background-color: lightgoldenrodyellow;
}

.goalListItem2 {
  background-color: lightcyan;
}

.goalsTitle {
  font-weight: bold;
  background-color: #175676;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.completedGoalList {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 70%;
}

.goalListItem1 {
  display: flex;
  justify-content: space-between;
}
.goalListItem2 {
  display: flex;
  justify-content: space-between;
}

.completedGoalItem {
  display: flex;
  justify-content: space-between;
}

/* .goalsTitle {
  display: flex;
  justify-content: space-between;
} */

.year {
  display: flex;
  font-size: 2em;
  width: 100%;
  justify-content: center;
}
.increment {
  text-align: center;
  padding: auto;
  margin: auto;
  color: #f46036;
}
.increment:hover {
  cursor: pointer;
}

.dummyButton {
  color: #175676;
  background-color: #175676;
  border: 0;
}
.completedGoalsTitles {
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  background-color: #f46036;
  color: white;
}
.completedWhat {
  width: 30%;
  text-align: center;
}
.completedWhy {
  width: 30%;
  text-align: center;
}
.completedThoughts {
  width: 40%;
  text-align: center;
}
.thoughts {
  height: 3em;
  width: 70%;
}

.thoughtsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 2em;
}
label {
  width: 30%;
  font-size: 1.5em;
  color: red;
  text-align: center;
}

.submit {
  margin: auto;
  padding: auto;
}

.submit:hover {
  cursor: pointer;
}

.btn {
  background-color: #f46036;
  border: none;
  color: white;
  height: 3em;
  font-size: 0.5em;
  cursor: pointer;
  align-self: center;
  border-radius: 5em;
}
.btnComplete {
  background-color: #175676;
  border: none;
  color: white;
  height: 3em;
  font-size: 0.5em;
  cursor: pointer;
  align-self: center;
  border-radius: 5em;
}
.btnDummy {
  background-color: #175676;
  border: none;
  color: #175676;
  padding: 0.5em 1em;
  font-size: 0.5em;
}

.btn:hover {
  background-color: RoyalBlue;
}

.addGoalButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.addGoalButton:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.newGoalContainer {
  padding-top: 3em;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newGoalText {
  width: 30%;
}

.newGoalReasonText {
  width: 30%;
}

.didItButton {
  background-color: #fcfc62;
  border-radius: 10px;
  font-weight: bold;
  border: black 2px;
  margin: 1em;
}
.didItButton:hover {
  background-color: white;
  cursor: pointer;
}

header {
  top: 10px;
}
.login {
  position: absolute;
  right: 20px;
  line-height: 60px;
}
.login:hover {
  cursor: pointer;
}
.loginBox {
  background-color: white;
  display: flex;
  width: 100%;
}
.loginBox form {
  display: flex;
  width: 100%;
  justify-content: center;
}

form input {
  background-color: lightgray;
  color: #175676;
  margin: 5px;
}

form p {
  margin: 5px;
}
form button {
  margin: 5px;
  padding: 2px;
}

.newUser {
  position: absolute;
  right: 20px;
  margin: 0;
  line-height: 30px;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6fedb;
  font-family: "Spartan", sans-serif;
  width: 90%;
  margin: auto;
}

.newUserBox {
  background-color: white;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 2vh;
}
.newUserBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.newUserBox form input {
  height: 4vh;
  width: 80%;
  background-color: lightblue;
  color: #175676;
}
header a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.newUserBox h1 {
  font-size: 30px;
}

.newUserBox button {
  border-radius: 5px;
  font-size: 2vh;
  padding: 10px;
  background-color: lightsalmon;
}

.newUserBox button:hover {
  background-color: yellow;
}

.newGoalContainer input {
  height: 3vh;
  background-color: white;
}

.thoughtsContainer input {
  background-color: white;
}
